@layer utilities {
	.hover-underline {
		@apply cursor-pointer inline w-fit hyphens-auto bg-linear-to-r from-current to-current bg-no-repeat bg-bottom-left duration-300 transition-all bg-size-[0_.05em] hover:bg-size-[100%_.05em]
	}
}
